In [32]:
import pandas as pd
import re
import numpy as np

In [51]:
# eeh = pd.read_csv('eeh_newer2.txt', delimiter=' *', engine='python')
eeh = pd.read_csv('eeh_newer2.txt')
eeh_array = eeh.to_numpy()
for i in range(0, eeh_array.shape[0]):
    new_row = str(eeh_array[i, :]).split()

In [23]:
pdbs = pd.read_table('all_pdbs.txt')
pdbs

     pdb1qdd
0    pdb1mrp
1    pdb1nbc
2    pdb1nkr
3    pdb1nkr
4    pdb1nox
..       ...
310  pdb8abp
311  pdb8abp
312  pdb8abp
313  pdb8abp
314  pdb8abp

[315 rows x 1 columns]

In [ ]:
eeh['pdbs'] = ''
for i in range(0, eeh.shape[0]):
    for j in range(0, pdbs.shape[0]):
        for k in range(0, 7):
            eeh.